framework-config/src/main/resources/META-INF/vcredit.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.vcredit.com/schema/vcredit"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://www.vcredit.com/schema/vcredit">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:element name="kafka-provider">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="props" />
			</xsd:sequence>
			<xsd:attribute name="id"></xsd:attribute>
			<xsd:attribute name="class"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="kafka-consumer">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="props" />
			</xsd:sequence>
			<xsd:attribute name="id"></xsd:attribute>
			<xsd:attribute name="class"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="props">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" ref="prop" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="prop" >
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="key" use="required" type="xsd:NCName" />
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="redis">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:sequence>
					<xsd:element ref="property" />
				</xsd:sequence>
			</xsd:sequence>
			<xsd:attribute name="class"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="paramAdvice">
		<xsd:complexType>
			<xsd:attribute name="class"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="logAdvice">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:sequence>
					<xsd:element ref="property" />
				</xsd:sequence>
			</xsd:sequence>
			<xsd:attribute name="class"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="property" >
		<xsd:complexType>
			<xsd:attribute name="property"></xsd:attribute>
			<xsd:attribute name="ref"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="quartz">
		<xsd:complexType>
			<xsd:attribute name="configLocation" default="classpath:quartz.properties"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="exceptionHandler">
		<xsd:complexType>
			<xsd:attribute name="class"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="tcc">
	</xsd:element>
	<xsd:element name="mq">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:sequence>
					<xsd:element ref="property" />
				</xsd:sequence>
			</xsd:sequence>
			<xsd:attribute name="class"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>